body{
    background-image: url(../img/header.jpg);
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.navbar{
    border: 0px;
    border-bottom: 1px solid #807A78;
}
.navbar-default{
    background-color: rgba(0,0,0,0);
}
.navbar-default .navbar-nav>li>a{
    color: rgba(255,255,255,.7);
    transition: color 0.3s ease;
}
.navbar-default .navbar-nav>li>a:hover{
    color: rgba(255,255,255,1);
}
.navbar-nav li a{
    font-size: 13px;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{
     color: rgba(255,255,255,1);
     background-color: rgba(0,0,0,0);
 }

.pdf-content{
    width: 100%;
    height: 500px;
}


.user-info-page{
    color: white;
}

.user-info-page form label{
    font-weight: normal !important;
    font-size: 18px !important;
}
.user-info-page form input{
    font-size: 18px !important;
}