.center{
    text-align: center;
}
.pointer{
    cursor: pointer;
}

.fa-times{
    color: brown;
}
.fa-cogs{
    color: #2e6da4;
}
.fa-cogs,.fa-times{
    font-size: 13px;
    transition: font-size 0.3s ease;
}
.fa-times:hover, .fa-cogs:hover{
    font-size: 17px;
}